.header {
    background-color: $black;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        min-height: 75px;
    }

    &__logo-icon {
        width: 44px;
        height: 38px;
        margin: 0 41px 0 0;  
    }

    &__search-icon {
        width: 26px;
        height: 26px;
    }

    &__burger-icon {
        width: 32px;
        height: 23px;
        margin: 0 33px 0 0;
        border: none;
        background-color: transparent;

        &:focus +.header-menu {
            display: block;
        }
    }

    &__profile-icon {
        width: 29px;
        height: 29px;
        margin: 0 33px 0 0;
    }

    &__cart-icon {
        width: 32px;
        height: 29px;
    }
}

.header-menu {
    position: absolute;
    width: 232px;
    height: 764px;
    right: 0;
    top: 75px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    display: none;
    z-index: 1;

    &__exit {
        width: 12px;
        height: 12px;
        border: none;
        background-color: transparent;
        margin: 16px 0 0 203px;
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        margin: 9px 0 24px 34px;
        color: #000000;
    }

    &:hover {
        display: block;
    }
}

@media (max-width: 1140px) {
    .header {

        &__box-logo {
            margin-left: 16px;
        }

        &__box-menu {
            margin-right: 16px;
        }
    }
}

@media (max-width: 767px) {
    .header {

        &__box-logo {
            margin-left: 8px;
        }

        &__box-menu {
            margin-right: 8px;
        }

        &__profile-icon {
            display: none;
        }
        &__cart-icon {
            display: none;
        }

        &__burger-icon {
            margin-right: 0;
        }
    }
}